* {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #f2eae2;
}

.main {
  margin: 0;
  width: 343px;
  height: 611px;
  border-radius: 0 0 8px 8px;
}
.image {
  border-radius: 8px 8px 0 0;
}
.card-content {
  padding: 24px;
  background-color: white;
}
.subtitle {
  margin: 0;
  font-size: 0.75rem;
  color: #6c7289;
  letter-spacing: 5px;
}
.title {
  margin: 0;
  margin-top: 12px;
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 2rem;
  color: #1c232b;
}
.text {
  margin: 0;
  margin-top: 12px;
  font-weight: 500;
  font-size: 0.875rem;
  color: #1c232b;
  line-height: 1.4375rem;
}
.price {
  position: relative;
  display: block;
  margin-top: 12px;
  margin-bottom: 12px;
  font-family: "Fraunces", serif;
  font-size: 2rem;
  color: #3d8168;
}
.price::after {
  position: absolute;
  content: attr(data-currency);
  top: 12px;
  left: 120px;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8125rem;
  color: #1c232b;
  text-decoration: line-through;
}
.botton {
  position: relative;
  display: block;
  text-align: center;
  width: 100%;
  color: white;
  background-color: #3d8168;
  padding: 15px;
  border-radius: 8px;
}
.icon {
  position: absolute;
  top: 555px;
  left: 100px;
}
@media screen and (min-width: 768px) {
  .card-content {
    position: absolute;
    top: 0;
    height: 450px;
    width: 300px;
    border-radius: 0 8px 8px 0;
    left: 300px;

  }
  .image {
    height: 450px;
    width: 300px;
    border-radius: 8px 0 0 8px;
  }
  .icon {
    top: 355px;
    left: 80px;
  }
}
@media (hover:hover) {
  .botton:hover {
    background-color: #1A4032;
  }
}
